Repository cortexlabs/cortex, pull requests merged in 2020-11, with the labels that each got.

#1551 Use --data-binary option instead of -d for octet-stream curls in docs
  docs/deployments/realtime-api/predictors.md
Labels: docs

#1576 Add guide on how to avoid rate limitation on Docker Hub
  docs/guides/docker-hub-rate-limiting.md
  docs/summary.md
Labels: docs

#1579 Edit docker rate limit guide; add separate guide for self-hosted docker images
  docs/guides/docker-hub-rate-limiting.md
  docs/guides/private-docker.md
  docs/guides/self-hosted-images.md
  docs/summary.md
Labels: docs

#1594 Fix document denoiser example (on Keras)
  examples/keras/document-denoiser/requirements.txt
Labels: bug, example

#1580 Update docker-hub-rate-limiting.md
  docs/guides/docker-hub-rate-limiting.md
Labels: blocked
